body {
    background: #F9FBFF;
	font-family: "Times New Roman", serif;
    margin-left: 5%;
    margin-right: 20%;
    text-align: justify
    }
	

	
/* Taken from https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp and some from https://developer.mozilla.org/en-US/docs/Web/CSS/gradient/radial-gradient() */
.toplogo {
  width: 100%; /* Full-height: remove this if you want "auto" height */
  height: 13.5em; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0em; /* Stay at the top */
  background-color: #EC0CEC; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  background-image: radial-gradient(circle at 420px 100px, #08A0F6, #202070);
  padding-bottom: 1em;
}

/* Taken from https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
.toplogo logo1 {
  font-family: Garamond, serif;
  padding-left: 290px;
  padding-top: 0.2em;
  text-decoration: none;
  font-size: 60px;
  color: #f1f1f1;
  display: inline;
}

.toplogo logoW {
  font-family: Garamond, serif;
  margin: 0px;
  padding-left: 170px;
  padding-top: 0px;
  text-decoration: none;
  font-size: 100px;
  color: #f1f1f1;
  display: inline;
}

.toplogo logo2 {
  font-family: Garamond, serif;
  margin: 0px;
  padding-left: 0px;
  padding-top: 0px;
  text-decoration: none;
  font-size: 80px;
  color: #f1f1f1;
  display: inline;
}

.toplogo logo3 {
  font-family: Garamond, serif;
  padding-top: 2px;
  padding-left: 220px;
  text-decoration: none;
  font-size: 30px;
  color: #f1f1f1;
  display: inline;
}
	
/* Taken from https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
.topbar {
  width: 100%; /* Full-height: remove this if you want "auto" height */
  height: 1.5em; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 14em; /* Stay at the top */
  background-color: #EC0CEC; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  background-image: linear-gradient(#202020, #A9A9A9);
  padding-bottom: 1em;
}

/* Taken from https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
.topbar a {
  padding-left: 8em;
  padding-top: 0.7em;
  text-decoration: none;
  font-size: 20px;
  color: #f1f1f1;
  display: inline-block;
}

/* Taken from https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
.topbar a:hover {
  color: #08A0F6;
}
	
/* Taken from https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
.sidebar {
  /*height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 25em; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 15.5em; /* Stay at the top */
  right: 0;
  margin: 2em;
  background-color: #ECECEC; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 1em;
  margin-top: 4em;
}

/* Taken from https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
.sidebar sidebartitle {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 3em;
  display: block;
}

/* Taken from https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */
.sidebar sidebarelement {
  padding-top: 1em;
  padding-left: 1.75em;
  padding-bottom: 0.5em;
  text-decoration: none;
  font-size: 1.5em;
  display: block;
}