/*Copyright Simon Humphrey 2021 CC-BY-SA Licensed */
body {
    background: #E8DCB8;
	font-family: Garamond, serif;
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify
    }
h1, h2, h3, h4, h5 {
    text-align: center;
    font-style: normal;
    font-weight: high;
    line-height: 2.5;
    margin-top: 0.5em;
    margin-bottom: 0.5em
    }
h1 {
    font-size: 300%;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    letter-spacing: 0.32em;
    word-spacing: 0.2em;
    text-indent: 0
    }
h2 {
    font-size: 175%;
    margin-top: 2em;
    margin-bottom: 1em
    }
h3 {
    font-size: 150%;
    margin-top: 2em
    }
h4 {
    font-size: 120%
    }
h5 {
    font-size: 110%
    }
hr {
    width: 80%;
    margin-top: 2em;
    margin-bottom: 2em
    }
div.chapter {
    page-break-before: always;
    margin-top: 4em

    }
p {
    text-indent: 1em;
    margin-top: 0.25em;
    margin-bottom: 0.25em
    }
p::first-letter {
		font-style: italic;
		font-family: "Brush Script MT", serif;
		font-size: 160%;
		margin-right: 0.05em;
		color: silver;
	}
p.poem {
    text-indent: 0%;
    margin-left: 10%;
    font-size: 90%;
    margin-top: 1em;
    margin-bottom: 1em
    }
p.noindent {
    text-indent: 0%
    }
p.center {
    text-align: center;
    text-indent: 0;
    margin-top: 1em;
    margin-bottom: 1em
    }
p.asterism {
    margin-left: 25%;
    text-indent: 0%;
    letter-spacing: 0.12em;
    margin-top: 1em;
    margin-bottom: 1em
    }
div.fig {
    display: block;
    margin: 0 auto;
    text-align: center
    }
a:link {
    color: blue;
    text-decoration: none
    }
a:visited {
    color: blue;
    text-decoration: none
    }
a:hover {
    color: red
    }
div.c16 {
    margin-left: 0.7em
    }
div.c15 {
    text-indent: -0.7em
    }
div.c14 {
    display: block;
    font-size: 1.1em;
    margin: 1em 0;
    font-weight: bold
    }
div.c13 {
    margin: 0.83em 0;
    font-size: 1.1em;
    text-align: center
    }
span.c12 {
    font-size: smaller
    }
div.c11 {
    display: block;
    margin: 1em 0
    }
div.c10 {
    display: block;
    margin-top: 4em
    }
table.c9 {
    margin-left: auto;
    margin-right: auto
    }
div.c8 {
    width: 60%
    }
img.c7 {
    width: 100%
    }
div.c6 {
    margin-top: 2em;
    margin-bottom: 4em
    }
div.c5 {
    display: block;
    margin-left: 2em;
    text-indent: -2em
    }
div.c4 {
    display: block;
    margin: 1em 0
    }
div.c3 {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    text-indent: -2em
    }
div.c2 {
    display: block;
    margin: 1em 0
    }
div.c1 {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold
    }
